@model ProjectManagementPRN221.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaderNavigation.Mssv)
        </dd>
        <dt class="col-sm-2">
            Member
        </dt>
        <dd class="col-sm-10">
            <select multiple asp-for="Mssvs" class="form-control" asp-items="ViewBag.Member"></select>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
